version: '3'
services:
  remote:
    image: maxwaldorf/guacamole
    container_name: guacamole
    volumes:
      - guacamole-config:/config
    networks:
      - proxy

networks:
  proxy:
    external: true

volumes:
  guacamole-config: