version: '3'
services:
  cloudflare-ddns:
    image: oznu/cloudflare-ddns
    container_name: cloudflare-ddns
    environment:
      - API_KEY={{ var.API_TOKEN }}
      - ZONE={{ var.DOMAIN }}
      - SUBDOMAIN={{ var.SUBDOMAIN }}
      - PROXIED=false
    restart: unless-stopped