version: '3'
services:
  plex:
    image: ghcr.io/linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID={{ var.USER_UID }}
      - PGID={{ var.USER_GID }}
      - VERSION=docker
      - PLEX_CLAIM={{ var.PLEX_CLAIM }}
    volumes:
      - plex-data:/config
      - {{ data_dir }}/Torrents/:/data
    restart: unless-stopped
  
  backup:
    image: offen/docker-volume-backup:v2
    container_name: plex-bp
    environment:
      BACKUP_FILENAME: backup-%Y-%m-%dT%H-%M-%S.tar.gz
      BACKUP_PRUNING_PREFIX: backup-
      BACKUP_CRON_EXPRESSION: {{ backup_cron }}
      BACKUP_RETENTION_DAYS: {{ backup_retention }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - plex-data:/backup:ro
      - /mnt/Data/Backups/plex:/archive

volumes:
  plex-data: