version: '3'
services:
  plex:
    image: ghcr.io/linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID={{ var.USER_UID }}
      - PGID={{ var.USER_GID }}
      - VERSION=docker
      - PLEX_CLAIM={{ var.PLEX_CLAIM }}
    volumes:
      - plex-data:/config
      - {{ data_dir }}/Torrents/:/data
    restart: unless-stopped

volumes:
  plex-data: