version: '3'
services:
  plex:
    image: ghcr.io/linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID=${USER_UID}
      - PGID=${USER_GID}
      - VERSION=docker
      - PLEX_CLAIM=${PLEX_CLAIM}
    volumes:
      - ${VOLUMES_DIR}/plex:/config
      - ${MEDIA_DIR}/Media/:/data
    restart: unless-stopped