version: '3'
services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    environment:
      - PUID=${USER_UID}
      - PGID=${USER_GID}
      - TZ=${TZ}
    volumes:
      - ${VOLUMES_DIR}/heimdall:/config
    networks:
      - proxy

networks:
  proxy:
    external: true