version: '3'
services:
  auth:
    image: authelia/authelia
    container_name: auth
    volumes:
      - authelia:/config
      - ${DOCKER_DIR}/authelia/configuration.yml:/config/configuration.yml
      - ${DOCKER_DIR}/authelia/users_database.yml:/config/users_database.yml
    environment:
      - TZ=${TZ}
    restart: always
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.routers.auth.entryPoints: https

networks:
  proxy:
    external: true

volumes:
  authelia:
    external: true