version: '3'
services:
  auth:
    image: authelia/authelia
    container_name: auth
    volumes:
      - authelia-config:/config
      - {{ docker_dir }}/authelia/configuration.yml:/config/configuration.yml
      - {{ docker_dir }}/authelia/users_database.yml:/config/users_database.yml
    environment:
      - TZ={{ timezone }}
    restart: always
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.routers.auth.entryPoints: https

networks:
  proxy:
    external: true

volumes:
  authelia-config: