version: '3'
services:
  web:
    image: httpd
    container_name: apache
    volumes:
      - {{ docker_dir }}/Website/:/usr/local/apache2/htdocs/
    restart: unless-stopped
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.routers.apache.entryPoints: https

networks:
  proxy:
    external: true