version: '3'
services:
  scheduler:
    image: mcuadros/ofelia:latest
    container_name: scheduler
    depends_on:
      - plextraktsync
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      ofelia.job-run.plextraktsync.schedule: "@every {{ plextrakt_interval }}"
      ofelia.job-run.plextraktsync.container: "plextraktsync"
    restart: unless-stopped
  plextraktsync:
    image: ghcr.io/taxel/plextraktsync
    container_name: plextraktsync
    volumes:
      - plextrakt-config:/app/config

volumes:
  plextrakt-config: