version: '3'
services:
  traefik:
    image: traefik:latest
    container_name: traefik
    networks:
      - proxy
    ports:
      - 80:80
      - 443:443
    environment:
      - TZ={{ timezone }}
      - DOCKER_HOST=dockersocket
      - CF_DNS_API_TOKEN={{ var.API_TOKEN }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ home }}/cert/acme.json:/etc/traefik/acme.json
      - {{ docker_dir }}/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - {{ docker_dir }}/traefik/fileConfig.yml:/etc/traefik/fileConfig.yml:ro
    labels:
      traefik.enable: true
      traefik.http.routers.api.rule: Host(`proxy.{{ var.DOMAIN }}`, `proxy.local.{{ var.DOMAIN }}`)
      traefik.http.routers.api.entryPoints: https
      traefik.http.routers.api.service: api@internal
      traefik.http.routers.api.middlewares: auth@file
    depends_on:
      - dockersocket
    restart: always
  
  dockersocket:
    container_name: dockersocket
    image: tecnativa/docker-socket-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - proxy
    environment:
      CONTAINERS: 1
      POST: 0
    privileged: true
    restart: unless-stopped

networks:
  proxy:
    external: true