version: '3'
services:
  radarr:
    image: ghcr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=${USER_UID}
      - PGID=${USER_GID}
      - TZ=${TZ}
      - DOCKER_MODS=ghcr.io/gilbn/theme.park:radarr
    volumes:
      - radarr:/config
      - ${DATA_DIR}/Torrents:/torrents
    restart: unless-stopped
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.routers.radarr.entryPoints: https

networks:
  proxy:
    external: true

volumes:
  radarr:
    external: true