version: '3'
services:
  radarr:
    image: ghcr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID={{ var.USER_UID }}
      - PGID={{ var.USER_GID }}
      - TZ={{ timezone }}
      - DOCKER_MODS=ghcr.io/gilbn/theme.park:radarr
    volumes:
      - radarr-data:/config
      - {{ data_dir }}/Backups/radarr:/config/Backups
      - {{ data_dir }}/Torrents:/torrents
    restart: unless-stopped
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.routers.radarr.entryPoints: https

networks:
  proxy:
    external: true

volumes:
  radarr-data: