version: '3'
services:
  adminer:
    image: adminer
    container_name: adminer
    volumes:
      - {{ docker_dir }}/adminer/adminer.css:/var/www/html/adminer.css
    networks:
      - proxy

networks:
  proxy:
    external: true