SPACESHIP_PROMPT_ORDER=(
  user
  dir
  host
  git
  venv
  python
  node
  docker
  hg
  exec_time
  line_sep
  jobs
  exit_code
  char
)
SPACESHIP_TIME_SHOW=true
SPACESHIP_USER_SHOW=always
SPACESHIP_CHAR_SYMBOL="❯"
SPACESHIP_CHAR_SUFFIX=" "
SPACESHIP_DIR_TRUNC_REPO=false
SPACESHIP_PROMPT_ASYNC=false