export STARSHIP_CONFIG=$HOME/.config/starship.toml
export PATH=$PATH:$HOME/.local/bin
export PATH=$PATH:/bin/snap
export XDG_CONFIG_HOME=$HOME/.config
{% if software|select("equalto", "neovim") %}
export EDITOR=nvim
export PATH=$PATH:/opt/nvim/bin
{% endif %}
{% if software|select("equalto", "rust") %}
export PATH=$HOME/.cargo/bin:$PATH
{% endif %}

alias python='python3'
alias ifconfig='sudo ifconfig'
alias s='sudo'
alias c='clear'
alias cls='clear'
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias l='ls -la'
alias h='history'
alias installz='sudo apt-get install $1 -y'
alias autoremove='sudo apt-get autoremove -y'
alias autoclean='sudo apt-get autoclean -y'
alias root='sudo -i'
alias diff='colordiff'
alias mount='sudo mount | column -t'
alias webup='sudo python -m http.server 80'
alias ftpup='sudo python -m pyftpdlib -p 21'
alias smbup='sudo python3 /usr/share/doc/python3-impacket/examples/smbserver.py -smb2support share $(pwd)'
alias pipz_upgrade='pip freeze > requirements.txt; pip install -r requirements.txt --upgrade; rm requirements.txt;'
{% if software|select("equalto", "neovim") %}
alias vim='nvim'
{% endif %}
{% if version == "kali" %}
alias vpn-htb='sudo openvpn --config /mnt/Dev/ctf/OpenVPN/HTB.ovpn'
alias vpn-thm='sudo openvpn --config /mnt/Dev/ctf/OpenVPN/THM.ovpn'
alias ss='searchsploit $1'
alias ssx='searchsploit -x $1'
alias ssm='searchsploit -m $1'
alias mscanz='sudo masscan -p1-65535,U:1-65535 $1 --rate=1000 -e tun0 --wait 5 > mscan.txt'
alias nmapz='sudo nmap -p- -sV -sC $1'
alias pattern_create='/usr/share/metasploit-framework/tools/exploit/pattern_create.rb -l $1'
alias pattern_offset='/usr/share/metasploit-framework/tools/exploit/pattern_offset.rb -q $1' 
alias nasm_shell='/usr/share/metasploit-framework/tools/exploit/nasm_shell.rb'
alias msfelfscan='/usr/share/framework2/msfelfscan'
alias aslr_off='echo 0 | sudo tee /proc/sys/kernel/randomize_va_space'
alias gcc_no_protections='gcc -fno-stack-protector -z execstack -no-pie'
alias docker_fix='sudo mkdir /sys/fs/cgroup/systemd; sudo mount -t cgroup -o none,name=systemd cgroup /sys/fs/cgroup/systemd'
alias rustscan='docker run -it --rm --name rustscan rustscan/rustscan:latest'

if [ -z "$TMUX" ]; then
    eval "$(tmux new-session -A -s main)"
fi
{% endif %}
urlencode() {
    python3 -c "from pwn import *; print(urlencode('$1'));"
}
urldecode() {
    python3 -c "from pwn import *; print(urldecode('$1'));"
}
plzsh() {
    if [[ $1 ]]; then
        port=$1
    else
        port=1337
    fi
    stty raw -echo; (echo 'python3 -c "import pty;pty.spawn(\"/bin/bash\")" || python -c "import pty;pty.spawn(\"/bin/bash\")"' ;echo "stty$(stty -a | awk -F ';' '{print $2 $3}' | head -n 1)"; echo reset;cat) | nc -lvnp $port && reset
}
rdp() {
    xfreerdp /u:$1 /p:$2 /v:$3 /size:1440x810 /clipboard /cert-ignore ${@: 4};
}