# ~/.config/starship.toml

# Inserts a blank line between shell prompts
add_newline = true

command_timeout = 1000

# Change the default prompt format
format = """\
$username$directory$hostname$git_branch$docker_context$python$nodejs$ruby$c$go$rust\n\
$character"""

# Change the default prompt characters
[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"

# Shows the username
[username]
style_user = "yellow bold"
style_root = "red bold"
format = "[$user]($style) "
# disabled = true  # disable in powershell
show_always = true

[directory]
truncation_length = 5
truncation_symbol = "../"
truncate_to_repo = false
home_symbol = " ~"
read_only_style = "197"
read_only = "  "
format = "in [$path]($style)[$read_only]($read_only_style) "

[git_branch]
symbol = " "
format = "on [$symbol$branch]($style) "
truncation_symbol = "…/"
style = "bold purple"

[hostname]
ssh_only = false
ssh_symbol = "🌐 "
format = "at [$hostname]($style) "
style = "bold green"

[docker_context]
format = "via [ $context](bold blue) "

[python]
symbol = " "
python_binary = "python3"

[nodejs]
format = "via [ $version](bold green) "
disabled = true

[ruby]
format = "via [ $version]($style) "
